* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

/* TEXT */

h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

.title {
    margin: 2rem 0 1rem 0;
}

p {
    color: hsl(217, 12%, 63%);
    line-height: 1.6rem;
}


/* LAYOUT */

body {
    background: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: hsl(213, 19%, 18%, 0.65);
    width: 27rem;
    height: 400px;
    border-radius: 2rem;
    padding: 2rem;
}


/* BUTTONS */

.star {
    background: hsla(216, 12%, 54%, 0.15);
    padding: 1rem;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

/* button {
    background: rgba(124, 135, 152, 0.149);
    color: rgb(148, 157, 171);
    font-weight: 400;
    border-style: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
} */

input[type='radio'][name='buttonGroup'] {
     display:none;
    }

label {
  padding:1.2rem 1.1rem 1.1rem 1.45rem; 
  color: rgb(148, 157, 171);
  border-radius:50%;
  background:rgba(124, 135, 152, 0.149);
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.submit {
    text-transform: uppercase;
    background: rgb(251, 116, 19);
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    border-radius: 2rem;
    border: 0;
    padding: 0.9rem;
    width: 100%;
    cursor: pointer;
}

/* RATING */
.before {
    display: block;
}

/* THANK YOU */

.after {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2.2rem;
}

.phone {
    width: 50%;
    padding: 1rem;
}

.selection > p {
    color: rgb(251, 116, 19);
    padding: 0.4rem 1rem;
    margin: auto 0;
    height: 2.2rem;
}

.selection {
    background: hsl(213, 19%, 18%);
    border-radius: 2rem;
    margin: 1rem;
}

.thanks {
    text-align: center;
}
.thanks > h1 {
    margin: 1rem;
}


/* ACTIVE STATES */

.submit:hover {
    background: white;
    color: hsl(25, 97%, 53%);
}

button:hover,
label:hover {
    background: hsl(25, 97%, 53%);
    color: white;
    font-weight: 700;
}


/* MEDIA QUERIES */

@media(max-width: 375px) {
    
    body {
        padding: 1rem;
    }

    }