* {
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    margin: auto 1.5em;
    font-family: 'Montserrat', sans-serif;
  }

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    margin: 0 auto;
    border-radius: 10px;
}

img {
    max-width: 350px;
}

.description {
    padding: 2em;
    background-color: hsl(0, 0%, 100%);
}

.category {
    background-color: hsl(0, 0%, 100%);
    font-stretch: expanded;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 21%, 14%);
    background-color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.9em;
    max-width: 200px;
    line-height: 1;
    padding: 1em 0;

}

p {
    font-size: 14px;
    line-height: 1.8;
    font-stretch: expanded;
    background-color: hsl(0, 0%, 100%);

}
  
.prices {
    display: flex;
    gap: 1.5em;
    padding: 1em;
    background-color: hsl(0, 0%, 100%);
}

.oldprice {
    text-decoration: line-through;
    margin: auto 0;
}

.newprice {
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

button {
    display: flex;
    gap: 1.5em;
    padding: 1em 4em;
    color: white;
    background-color: hsl(158, 36%, 37%);
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
}

button:hover {
    background-color: hsl(158, 37%, 20%);
}

.cart {
    margin: auto 0;
    background-color: hsl(158, 36%, 37%);
}