* {
    box-sizing: border-box;
    width: 100%;
 }


/* LAYOUT */

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    color: white;
    background: hsl(217, 54%, 11%);
 }

 .container {
    background: hsl(216, 50%, 16%);
    width: 350px;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    border-radius: 10px;
    
 }
 

  /* FONTS */

  a {
    text-decoration: none;
    color: white;
 }

 a:hover {
    color: hsl(178, 100%, 50%);
 }

 h1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 0;
 }

 p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 16px;
 }

 .description {
    font-size: 18px;
 }

 .eth {
    color: hsl(178, 100%, 50%);
    font-size: 16px;
    font-weight: 600;
 }

 .link > p {
    font-size: 16px;
    font-weight: 400;
 }

 .clock {
    color: hsl(215, 51%, 70%);
 }


 /* CUBE */
 .cube {
    position: relative;
 }

 .cube-image {
    border-radius: 9px;
    display: block;
    width: 100%;
    height: auto;
 }

 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 9px;    
 }

 .cube:hover .overlay {
    opacity: 1;
 }
 
 .eye {
   display: flex;
   position: absolute;
   height: 100%;
   width: 50%;
   left: 42%;
   align-items: center;
 }



 /* GEM AND TIME */

 .middle {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 0;
 }

 .clock,
 .eth {
    display: flex;  
    width: 100px;
 }

 .svg-right,
 .svg-left {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
 }

 .clock > div {
    margin-right: -30px;
 }


 /* DIVIDER */

 .divider {
    border-top: 1px solid hsl(215, 32%, 27%);
    opacity: 0.1;
 }



 /* CREATOR */

 .creator {
    display: flex;
    height: 20px;
    margin: auto 0;
    align-content: center;
    justify-content: center;
    padding-bottom: 1.5rem;
 }

 .icon {
    width: 18%;
    object-fit: cover;
 }

 .icon > img {
    -webkit-filter: drop-shadow(1px 1px 1px white)
    drop-shadow(-1px -1px 1px white);
    filter: drop-shadow(1px 1px 1px white) 
    drop-shadow(-1px -1px -1px white);
    padding: 10px;
 }

 .link {
    flex: 1;
    padding-left: 10px;
 }